.container {
  height: calc(100vh - 64px - 68px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

  .info {
    text-align: center;

    .subTitle {
      position: absolute;
      bottom: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h1 {
      font-size: 56px;
    }

    button {
      height: 50px;
      font-size: 22px;
      border-radius: 6px;
    }
  }
}