.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    padding: 5px;
  }

  .search {
    padding: 5px;
  }
}

.list {
  margin-top: 5px;
  padding: 0 10px;
  height: calc(100% - 60px);
  overflow-y: scroll;
}