.custom-app {
    height: 100vh;
    background-image: linear-gradient(120deg, var(--accent-100) 0%, var(--primary-300) 100%);
    overflow: hidden;
}

.custom-header {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    /* 过度多层阴影，实现折叠质感 */
    box-shadow: inset 0 -1px 20px 5px #00000028,
        inset 0 -2px 20px 5px #0000001c,
        inset 0 -3px 20px 5px #00000011,
        0 1px 20px 5px #ffffff0a,
        0 2px 20px 5px #ffffff19,
        0 3px 20px 5px #ffffff24;
    z-index: 999;
}

.custom-main {
    height: calc(100vh - 68px - 40px);
}

.custom-questionnaire-list {
    margin-top: 5px;
    padding: 0 10px;
    height: calc(100% - 60px);
    overflow-y: scroll;
}

.custom-footer {
    height: 40px;
    text-align: center;
    background-color: var(--bg-200);
    border-top: 1px solid var(--primary-300);
    color: var(--text-200);
    line-height: 40px;
    z-index: 999;
}

.custom-main-title {
    font-weight: 600 !important;
    font-size: 56px !important;
    background: -webkit-linear-gradient(315deg, var(--text-100) 25%, var(--text-200));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}