@import "./customStyle.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root:root {
  --primary-100: 38, 166, 154;
  --primary-200: 64, 141, 134;
  --primary-300: 205, 250, 246;
  --accent-100: 128, 203, 196;
  --accent-200: 67, 164, 155;
  --text-100: 38, 51, 57;
  --text-200: 114, 143, 158;
  --bg-100: 247, 248, 250;
  --bg-200: 208, 235, 234;
  --bg-300: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgb(var(--bg-200));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--primary-200));
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--primary-100));
}