@import "./customStyle.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root:root {
  --primary-100: #26A69A;
  --primary-200: #408d86;
  --primary-300: #cdfaf6;
  --accent-100: #80CBC4;
  --accent-200: #43A49B;
  --text-100: #263339;
  --text-200: #728f9e;
  --bg-100: #E0F2F1;
  --bg-200: #D0EBEA;
  --bg-300: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* 添加滚动条样式 */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--bg-200);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-200);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-100);
}