@import "./customStyle.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* 添加滚动条样式 */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #e1e1e111;
}

::-webkit-scrollbar-thumb {
  background: #009e8e76;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #009E8E;
}