* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 添加滚动条样式 */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #e1e1e100;
}

::-webkit-scrollbar-thumb {
  background: #24bab081;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #24bab0;
}
