.wrapper {
    height: calc(100vh - 68px - 40px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        background: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 1px 1px 5px 5px #ffffff;

        .logo {
            height: 200px;
        }

        .btnContainer {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}