.custom-app {
    background: rgb(var(--bg-100));
}

.custom-main {
    height: 100vh;
}

.custom-header {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    backdrop-filter: blur(10px);
    background-color: rgba(var(--primary-100), 0.4);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


.custom-hero-banner {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            rgba(var(--primary-300), 0.5),
            rgba(var(--primary-100), 0.5)),
        url('@/assets/img/bg-hero.webp');
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}


.custom-intro-lottie {
    width: 34vw;
}


.custom-feature-banner {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            rgba(var(--primary-100), 0.5),
            rgba(var(--primary-300), 0.5)),
        url('@/assets/img/bg-feature.webp');
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 25vh, 100% 0, 100% 75vh, 0 100%);
    -webkit-clip-path: polygon(0 25vh, 100% 0, 100% 75vh, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.custom-feature-card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-feature-card {
    position: relative;
    width: 15rem;
    height: 22rem;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform-origin: center center;
    transform: translateZ(0) rotate(calc(var(--r) * 1deg));
    transition: transform 0.5s ease-out, margin 0.5s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 -1.5rem;
    cursor: pointer;
}

.custom-feature-card-container:hover .custom-feature-card {
    will-change: transform, margin;
    transform: translateZ(0) rotate(0deg);
    margin: 0 1.8rem;
}

.custom-feature-card::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
    height: 5rem;
    background: rgba(255, 255, 255, 0.1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
    letter-spacing: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-questionnaire-list {
    margin-top: 5px;
    padding: 0 10px;
    height: calc(100% - 60px);
    overflow-y: scroll;
}

.custom-footer {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(var(--bg-100));
    color: rgb(var(--text-200));
    line-height: 20px;
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.custom-main-title {
    font-weight: 600 !important;
    font-size: 56px !important;
    background: -webkit-linear-gradient(315deg, rgb(var(--bg-300)) 25%, rgb(var(--bg-300)));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

/* 隐藏滚动条 */
.custom-no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.custom-no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}