.container {
  padding: 24px 50px;
  height: 100%;
  display: flex;
  background: #f7f7f7;
}

.left {
  margin-left: 20px;
  width: 150px;
}

.right {
  flex: 1;
  width: 0px;
  margin-left: 20px;
  height: 100%;
}