.container {
    margin: 10px 0;
    padding: 12px;
    border-radius: 6px;
    background-color: #fff;
    transition: box-shadow .3s;

    &:hover {
        box-shadow: 1px 1px 20px #e8e8e8;
    }
}

.title {
    display: flex;

    .left {
        flex: 1;

        .star{
            display: inline-block;
            width: 16px;
        }
    }

    .right {
        flex: 1;
        text-align: right;
        font-size: 12px;
    }
}

.button-container {
    display: flex;

    .left {
        flex: 1;
    }

    .right {
        flex: 1;
        text-align: right;

        button {
            color: #999
        }
    }
}